# Data Science Tools and Ecosystem

> This notebook is used to demonstrate basic knowledge of Data Science and creating a Jupyter Notebook.

> Objectives:

> * List popular languages
> * List popular Data Science libraries
> * List Data Science tools
> * Perform addition and multiplication using Python
> * Perform conversion using syntax

> Some of the popular languages that Data Scientists use are:
>>  1. R <br>
>>  2. Python <br>
>>  3. SQL

>Some of the popular libraries used by Data Scientists include:
>>  * dplyr <br>
>>  * ggplot <br>
>>  * caret

| Data Science Tools |
|:--------:|
|  RStudio   |
|  ApacheSpark |
|  GitHub  |

### Below are a few examples of evaluating arithmetic expressions in Python:

In [10]:
#This a simple arithmetic expression to mutiply then add integers.

(3*4)+5

17

In [ ]:
#This will convert 200 minutes to hours by diving by 60.

min=int(input("200"))
h=min//60
m=min%60
print("Hours=",h)
print("Minutes=",m)

## Author

> Adnan Matouq